.App {
  text-align: center;
}

.Command {
  margin: 10px;
}

.Command-text{
  margin-right: 10px;
  width: 200px;
}

.Ul-msg{
  height: 300px;
  width: 500px;
  margin: 10px;
}

.Ul-msg label{
  margin-left: 10px;
}
.Ul-msg font{
  margin-left: 10px;
}

.msg-li{
  width: 100%;
  border:#abc solid 1px;
  margin: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
